body {
  font-family: arial, helvetica;
  background-color: #eee;
  padding: 50px;
}

table, th, td
{
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

.files {
  display: inline-block;
}

#graph {
  display: inline-block;
  width: 680px;
  height: 500px;
  margin: 0 100px;
}

