body {
    padding-left: 50px;
}

h1 {
    font-family: Georgia;
}

table {
    border-style: solid;
    border-width: 1px;
}

td, th {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    font-family: Courier New;
}

table.linearFunction td {
    text-align: left;
    padding: 35px;
}

table.linearFunction td pre {
    font-size: 12px;
}

hr {
    margin-top: 55px;
}

.rSquared {
    font-size: 2em;
    font-weight: bold;
}

.valid {
    color: green;
}

.warning {
    color: orange;
}

.invalid {
    color: red;
}