hr
h1 Linear regression over LOCs and number of commits
table(class='linearFunction')
    tr 
        th Function
        td
            pre= toString()
    tr 
        th R^2
        td(class='rSquared' + ' ' + getValidity())= rSquared


